<div class="row">
  <div class="column">
    <pre>
      <%= figure_for(@tally.turns_left, @tally.game_state ) %>
    </pre>
  </div>
  
  <div class="column">
    <%= render("_tally_info.html", tally: @tally) %>
  </div>
</div>

<%= make_move_or_play_again(@conn, @tally.game_state) %>
